.text-box > h3:first-child  {
    color: pink;
}
#greycol {
    color: gray;
}
div + div > p {
    color: red;
}
div + h3 + p {
    color: green;
}
.yellow {
    color: yellow;
}
 table {
    border: 5px solid black;
    padding: 10px;
    background-color: tomato;
}

table:hover {
    border: 5px solid red;
    background-color: aqua;
}

th {
    border: 3px solid blue;
    background-color: blueviolet;
}

th:hover {
    background-color: darkgreen;
}

th:active {
    background-color: red;
    transform: scale(1.2);
}

td {
    border: 1px solid black;
    transform: rotate(10deg);
}

td:nth-child(even) {
    background-color: grey;
}

th:nth-child(odd) {
    background-color: red;
}